autopep8==1.5.7
flake8==3.9.2
flake8-isort==4.0.0
freezegun==1.1.0
isort==5.9.2
mypy==0.910
types-freezegun==0.1.4
types-PyYAML==5.4.3
types-pytz==2021.1.0
types-python-dateutil==0.1.4
pipupgrade==1.9.0
pytest==6.2.4
pytest-cov==2.12.1
pytest-mock==3.6.1
pytest-socket==0.4.0
pylint==2.9.5
python-dateutil==2.8.2
setuptools==57.4.0
